body {
    background-color: lightblue;
    color: maroon;
    font-family: Arial;
    margin: 0px;
}

header {
    background-color: black; 
    color: lightgreen;
    padding: 10px; 
    font-size: 16pt;
}

footer {
    background-color: lightblue; 
    color: maroon; 
    font-family: Arial; 
    margin: 0px; 
    text-align: right; 
    font-style: italic;
}

a {
    color: green;
    text-decoration: none;

}

a:visited {
    color: brown;
    background-color: blue;
}

a:hover {
    color: red;
    text-decoration: underline;
    background-color: white;
    font-weight: bold;
}
a:active {
    color: purple;
    background-color: hotpink;
}