body {
    background-color: lightblue;
    color: maroon;
    font-family: Arial;
    margin: 0px;
}

header {
    background-image: linear-gradient(to right, red, orange, yellow, green, aqua, blue, violet); 
    color: lightgreen;
    padding: 10px; 
    font-size: 16pt;
}

header:hover {
    color: black;
    text-shadow: 1px 2px 2px white;
    transition: 600ms 500ms;
    padding: 20px;
    font-size: 20pt
}

header:active {
    color: white;
    padding: 25px;
    font-size: 50pt
}

footer {
    background-image: linear-gradient(to right, red, orange, yellow, green, aqua, blue, violet);
    color: maroon; 
    font-family: Arial; 
    margin: 0px; 
    text-align: right; 
    font-style: italic;  
    z-index: 2;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    
    }


footer:hover {
    color: azure;
    text-shadow: 1px 1px 2px black;
    transition: 600ms 500ms;
    padding: 20px;
    font-size: 20pt
}
main {
    margin: 10px 20px;
}

footer:active {
    color: whitesmoke;
    padding: 25px;
    font-size: 50pt
}

a {
    color: green;
    text-decoration: none;
    text-shadow: 0px 1px 1px red ;
    transition: 600ms 0.2s;

}

a:visited {
    color: brown;
    background-color: blue;
    
}

a:hover {
    color: red;
    text-decoration: underline;
    background-color: white;
    font-weight: bold;
    transition: 0.3s 500ms;
}
a:active {
    color: purple;
    background-color: hotpink;
    
}